section.slots {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-gap: 0vmin;
    margin-bottom: 32px;
  }

.slot {
    border: 3px solid black;
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;
  }

  .spinBtn {
    margin-bottom: 50px;
  }

  .message {
    font-size: 24px;
    font-weight: 600;
  }