
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

  body {
    margin: 0;
    font-family: 'Lilita One', cursive;
    display: flex;
    flex-direction: column;
  }

  .slots {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 13vmin);
    grid-gap: 0vmin;
    margin-bottom: 0px;
    background-color: white;
  
  }

  .slot {
    border: 3px solid black;
    font-size: 9vmin;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 32px;
  }


  .divBtn {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .spinBtn {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    justify-self: center;
    text-align: center;
    font-family:  sans-serif;
    font-size: 14px;
    padding: 3px;
    font-weight: bold;

  }

  .message {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }


  h2 {
    justify-content: center;
    text-align: center;
  }

/* smoke section below */
 .smokeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  min-width: 100vw;
  position: relative;
}

video {
object-fit: cover;
max-height: 30vh;
width: 100%;
}

.hotSlots-h1 {
padding: 0;
position: absolute;
top: 20%;
transform: translateY(-50%);
width: 100%;
text-align: center;
color: #ddd;
font-size: 4em;
font-family: 'Lilita One', cursive;
letter-spacing: 0em;
}

.hotSlots-h1 > span{
display: inline-block;
animation: animate 1s linear forwards;
}

@keyframes animate{
0%{
opacity: 0;
transform: rotateY(90deg);
filter: blur(10px);
}
100%{
opacity: 1;
transform: rotateY(0deg);
filter: blur(0px);
}
}
.hotSlots-h1 > span:nth-child(1)
{
animation-delay:1s;
}
.hotSlots-h1 > span:nth-child(2)
{
animation-delay:2s;
}
.hotSlots-h1 > span:nth-child(3)
{
animation-delay:2.5s;
}
.hotSlots-h1 > span:nth-child(4)
{
animation-delay:3s;
}
.hotSlots-h1 > span:nth-child(5)
{
animation-delay:3.5s;
}
.hotSlots-h1 > span:nth-child(6)
{
animation-delay:4s;
}
.hotSlots-h1 > span:nth-child(7)
{
animation-delay:4.5s;
}
.hotSlots-h1 > span:nth-child(8)
{
animation-delay:5s;
}
    /* end smoke section */
